<h1 class= "list-heading">Create a new list:</h1>

<div class="new-list">
<%= simple_form_for([@list]) do |f| %>
<%= f.input :name %>
<%= f.input :photo, as: :file %>
<%= f.submit %>
<% end %>
</div>
<%= link_to "Discard & Return to Lists", lists_path, class:"btn btn-success" %>
