<div class="movies-container">
  <h1 class="movies-heading"><strong>Add your favourite movies</strong></h1>

  <div class="bookmark-form">
    <%= simple_form_for([@list, @bookmark]) do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>

  <%= link_to "Return to Lists", lists_path, class:"btn btn-success" %>
</div>
